Flask
python-dotenv
Flask-MySQLdb
PyMySQL
Werkzeug
gunicorn
qrcode
Flask-Mail
WTForms
Flask-WTF
Pillow
python-dateutil
pytz
validators
Flask-Paginate
python-decouple
bcrypt
pandas
openpyxl
pytest
pytest-flask
flask-debugtoolbar